.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
  background: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

@media screen and (max-width: 425px) {
  .cover {
    margin-bottom: 64px;
  }
}
